<script lang="ts">
  import logo from './assets/logo.svg'
  import Qr from './lib/Qr.svelte'
</script>

<main>
  <div class="logo">
    <img src={logo} alt="">
  </div>
  <div class="main__content">
    <Qr />
  </div>
</main>

<style>

</style>