:root {
  --bkg: rgb(36, 35, 30);
}

html {
  overflow: overlay
}

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: monospace;
  font-size: max(3vmin, 16pt);
}

body {
  font-family: monospace;
  background-color: var(--bkg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
}

.main__content {
  width: min(100vw - 4rem, 600px);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.logo{
  position: fixed;
  bottom: .5rem;
  left: 1rem;
  pointer-events: none;
}

.logo img {
  width: 6rem;
}

.btn {
  border-radius: 1rem;
  text-transform: uppercase;
  font: inherit;
  border: 0;
  color: rgb(29, 28, 26);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, letter-spacing 0.25s ease-out;
  letter-spacing: 1ch;
  font-weight: 700;
  text-decoration: none;
}

.btn:hover {
  transition: background-color 0.25s ease-in-out;
}

.btn--primary {
  background-color: rgb(236, 202, 8);
}

.btn--primary:hover {
  background-color: rgb(236, 183, 8);
  letter-spacing: 3rem;
  transition: background-color 0.25s ease-in-out, letter-spacing 5s ease-out;
}

.btn--secondary {
  background-color: rgb(218, 215, 201);
  padding-left: calc(1.5rem + 1ch);
}

.btn--secondary:hover {
  background-color: rgb(150, 147, 134);
}

#qrcode {
  text-align: center;
  margin-bottom: -.25rem;
}

#qrcode svg {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: calc(100vh - 16rem);
  min-height: 200px;
  border-radius: 1rem;
}

textarea {
  min-height: 5rem;
  font: inherit;
  font-size: inherit;
  padding: 0.8rem 1rem;
  width: calc(100% - 2rem);
  border: 0;
  background-color: #bbb;
  color: rgb(53, 51, 39);
  border-radius: 1rem 1rem 0.2rem 1rem;
  vertical-align: middle;
  transition: all 0.25s ease-in-out;
  resize: vertical;
}

textarea::spelling-error {
  text-decoration: none;
}

textarea:focus {
  background-color: #ddd;
  outline: none;
}

#charcount {
  font-family: monospace;
  color: rgb(105, 101, 75);
  background-color: var(--bkg);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  margin-top: -1.8rem;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
  align-self: end;
}

.red {
  color: red;
}

#outputs {
  margin-top: 1rem;
  transition: all 0.3s;
  transform-origin: top;
}

#outputs {
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}